# Pip environment specification for the research environment.
# Packages chosen to match the Kaggle kernel environment
numpy==1.16.2
pandas==0.23.4
scikit-learn==0.20.3
matplotlib==2.2.3
bokeh==1.0.4
geopandas==0.4.0
geoviews==1.6.1

# Additional packages not used on Kaggle
pyprojroot==0.2.0
